@charset "UTF-8";
/* couleur de base du site */
/* couleur de fond des pages */
/* valeur pour le breakpoint tablette/destop */
/* non opérationnel */
/* mixin pour le responsive */
/* mixin pour les headers */
/* mixin pour le logo coeur animé */
/* non opérationnel */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%; }

body {
  margin: 0 auto; }

@keyframes app {
  from {
    top: 30px; }
  to {
    top: 0px; }
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* intégration des polices du site */
@font-face {
  font-family: Shrikhand-Regular;
  font-weight: normal;
  font-style: normal;
  src: url(../polices/Shrikhand-Regular.ttf); }
@font-face {
  font-family: Roboto-Regular;
  font-weight: normal;
  font-style: normal;
  src: url(../polices/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-Light;
  font-weight: normal;
  font-style: normal;
  src: url(../polices/Roboto-Light.ttf); }
@font-face {
  font-family: Roboto-Thin;
  font-weight: normal;
  font-style: normal;
  src: url(../polices/Roboto-Thin.ttf); }
a {
  font-family: Roboto-Regular;
  text-decoration: none;
  color: black; }

/* déf. zone accueil */
#cherche_ville h3 {
  font-family: Roboto-Regular;
  font-weight: 400; }

#reservez h1 {
  font-family: Roboto-Regular;
  font-size: 150%;
  text-align: center; }
#reservez h2 {
  font-family: Roboto-Thin;
  font-weight: normal;
  font-size: 120%;
  text-align: center; }

#fonct h6, #resto h6 {
  font-family: Roboto-Regular;
  font-weight: 900;
  font-size: 150%;
  text-align: center; }
#fonct h3, #fonct h5, #fonct h7, #fonct strong, #resto h3, #resto h5, #resto h7, #resto strong {
  font-family: Roboto-Regular;
  font-size: 100%; }
#fonct p, #resto p {
  font-family: Roboto-Light;
  font-size: 100%; }

.pav h4 {
  font-size: 80%; }

/* déf. zone menu */
#tete h1 {
  font-family: Shrikhand-Regular;
  font-size: 175%; }

#menu h2 {
  font-family: Roboto-Thin;
  text-transform: uppercase;
  font-size: 100%; }
#menu h3, #menu h4, #menu strong {
  font-family: Roboto-Regular;
  font-size: 100%; }
#menu p {
  font-family: Roboto-Light;
  font-size: 84%; }

button {
  font-family: Roboto-Regular;
  font-weight: 500; }

/* déf. bouton validation */
button {
  display: block;
  width: 220px;
  height: 50px;
  line-height: 50px;
  margin: 39px auto 83px auto;
  text-align: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 10px #c8c8c8; }
  button:hover {
    filter: brightness(1.06);
    box-shadow: 0px 0px 10px #858585;
    transform: scale(0.98);
    transition: 0.3s; }

/* déf. bouton logo coeur animé */
.logo_coeur {
  position: relative;
  left: 0px;
  top: 23px; }
  .logo_coeur--menu {
    left: 286px;
    top: -48px; }
  .logo_coeur .fond_coeur {
    position: absolute;
    width: 22px;
    height: 21px;
    z-index: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    clip-path: path("M11,20.865C-10.083,6.68,4.508-4.391,10.758,1.466C10.84,1.542,10.921,1.622,11,1.704c0.079-0.083,0.159-0.162,0.242-0.237C17.491-4.394,32.083,6.679,11,20.865z"); }
  .logo_coeur .fond_gris {
    position: absolute;
    width: 22px;
    height: 21px;
    top: 0px;
    z-index: 2;
    background-color: white; }
  .logo_coeur .fond_gris--gris {
    background-color: #f6f6f6; }
  .logo_coeur:hover .fond_gris {
    top: -21px;
    transition: 1s; }
  .logo_coeur .coucou {
    position: absolute;
    width: 22px;
    height: 21px;
    z-index: 4; }

/* déf. bouton animé */
.bouton_anim {
  opacity: 0;
  animation: app 0.4s ease-in;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 70px;
  margin: 15px auto;
  padding: 16px 0px 16px 12px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #c8c8c8;
  line-height: 133%; }
  .bouton_anim--gap_1 {
    animation-delay: 0.2s; }
  .bouton_anim--gap_2 {
    animation-delay: 0.3s; }
  .bouton_anim--gap_3 {
    animation-delay: 0.4s; }
  .bouton_anim .contient_logo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 12px 12px 0;
    background-color: #99E2D0; }
  .bouton_anim:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #646464;
    transition: 0.6s; }
  .bouton_anim:hover .contient_logo {
    right: 0px;
    transition: 0.6s; }
  .bouton_anim:not(hover) .contient_logo {
    right: -70px;
    transition: 0.6s; }
  .bouton_anim:hover .contient_logo > img {
    transform: rotate(360deg);
    right: 0px;
    transition: 0.6s; }
  .bouton_anim p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* points de suspension */
    padding-right: 50px; }
  .bouton_anim:hover p {
    padding-right: 120px;
    transition: 0.6s; }
  .bouton_anim:not(hover) p {
    right: 50px;
    transition: 0.6s; }
  .bouton_anim strong {
    position: absolute;
    right: 20px; }
  .bouton_anim:hover strong {
    right: 90px;
    transition: 0.6s; }
  .bouton_anim:not(hover) strong {
    right: 20px;
    transition: 0.6s; }

/* header menu */
.head_menu {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  column-gap: 66px;
  padding-left: 23px; }

/* header accueil */
.head_accueil {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

/* bas de page commun */
footer {
  width: 100%;
  background-color: #353535;
  padding: 25px 5% 40px 5%;
  text-decoration: none;
  line-height: 200%; }
  footer div img {
    position: relative;
    margin-right: 6px; }
  footer li {
    list-style: none; }
  footer > img {
    height: 18px; }
  footer a {
    color: white; }

/* entête de la page */
#cache {
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

#cherche_ville {
  height: 55px;
  width: 120%;
  margin-left: -10%;
  margin-bottom: -5px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: inset 0px 3px 6px gainsboro; }

/* reservation */
#reservez {
  height: 287px;
  padding: 21px 0px 0px 0px;
  background-color: #f6f6f6; }
  @media screen and (min-width: 768px) {
    #reservez {
      height: 238px; } }
  @media screen and (min-width: 768px) {
    #reservez br {
      display: none; } }

/* selection fonctionnement */
#fonct {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  padding: 54px 0px; }
  @media screen and (min-width: 768px) {
    #fonct {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; } }
  #fonct h6 {
    width: 89%;
    text-align: left; }

.fonct_select {
  width: 89%;
  height: 72px;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 27px;
  border-radius: 16px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 6px gainsboro; }
  @media screen and (min-width: 768px) {
    .fonct_select {
      width: 30%;
      margin: 0 0;
      column-gap: 7px; } }
  .fonct_select h5 {
    display: block;
    position: relative;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    color: white;
    background-color: #9356DC;
    text-align: center;
    line-height: 26px; }
  .fonct_select h7 {
    font-weight: 400; }
  .fonct_select--select {
    background-color: #f5edff; }

/* sélection restaurants */
#resto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 20px;
  background-color: #f6f6f6;
  padding: 60px 0px; }
  @media screen and (min-width: 768px) {
    #resto {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; } }
  #resto h6 {
    width: 89%;
    text-align: left;
    margin: auto; }

.pav {
  width: 89%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .pav {
      width: 46%;
      margin: 0 0; } }
  .pav figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 0px 6px grey; }
    .pav figure h4 {
      position: absolute;
      right: 14px;
      top: 14px;
      padding: 8px 15px;
      border-radius: 6px;
      color: #008766;
      background-color: #99E2D0;
      font-weight: 500; }
    .pav figure > img {
      width: 100%;
      border-radius: 12px 12px 0px 0px; }
    .pav figure figcaption {
      width: 100%;
      height: 78px;
      background-color: white;
      display: flex;
      line-height: 145%;
      border-radius: 0px 0px 12px 12px; }
    .pav figure .intitule {
      width: 86.5%; }
    .pav figure h5 {
      padding-top: 20px;
      padding-left: 15px; }
    .pav figure p {
      padding-left: 15px; }
    .pav figure:hover {
      filter: brightness(1.06);
      box-shadow: 0px 0px 10px #858585; }

/* photo & titre + logo coeur */
#tete {
  position: relative;
  padding-bottom: 24px;
  background-color: #9356DC; }
  #tete h1 {
    font-weight: 500;
    text-align: left; }
  #tete > div {
    width: 100%;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f6f6;
    box-shadow: none;
    position: absolute;
    top: 223px;
    padding: 23px 7% 0% 7%;
    margin: 0%; }

/* menu ENTREE / PLAT / DESSERT */
#menu {
  position: relative; }
  @media screen and (min-width: 768px) {
    #menu {
      display: flex;
      flex-wrap: wrap; } }
  #menu h2 {
    width: 44px;
    padding-top: 24px;
    margin-left: 7%;
    border-bottom: 3px solid green; }
  @media screen and (min-width: 768px) {
    #menu .sous_menu {
      width: 50%; } }
