

body {
    margin: 0 auto;
    background-color: rgb(246, 246, 246);
}

a {
    font-family: Roboto-Regular;
    text-decoration: none;
    color :black;
}

h1 {
    font-family: Shrikhand-Regular;
    font-size: 175%;
}

h2 {
    font-family: Roboto-Thin;
    text-transform: uppercase;
    font-size: 100%;
}

h3, h4, strong {
    font-family: Roboto-Regular;
    font-size: 100%;
}

p {

    font-family: Roboto-Light;
    font-size: 84%;
}

/* entête de la page */

header {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 66px;
    padding-left: 23px;
}

header img {

}

#tete {
    position: relative;
    padding-bottom: 24px;
}

#tete>div {
    width: 100%;
    border-radius: 35px 35px 0px 0px;
    background-color: rgb(246, 246, 246);
    box-shadow: none;
    position: absolute;
    top: 223px;
    padding: 23px 7% 0% 7%;
    margin: 0%;
}

#tete h1 {
    font-weight: 500;
}

#coucou, #fond_gris, #fond_coeur {

    right: 38px;
}

#coucou {
    bottom: 8px;
    position: absolute;
    z-index: 4;
}

#fond_gris {
    margin-bottom: 0px;
    bottom: 8px;
    z-index: 2;
    width: 22px;
    height: 21px;
    position: absolute;
    background-color: rgb(246, 246, 246);
}

a:hover #fond_gris {
    margin-bottom: 21px;
    transition: 1s;
}

#fond_coeur {
    bottom: 8px;
    z-index: 0;
    width: 22px;
    height: 21px;
    position: absolute;
    background-color: #FF79DA;
    clip-path: path('M11,20.865C-10.083,6.68,4.508-4.391,10.758,1.466C10.84,1.542,10.921,1.622,11,1.704c0.079-0.083,0.159-0.162,0.242-0.237C17.491-4.394,32.083,6.679,11,20.865z');
}

/* menu ENTREE / PLAT / DESSERT */

#menu {
    position: relative;
}

section h2 {
    width: 11%;
    padding-top: 24px;
    margin-left: 7%;
    border-bottom: 3px solid green;
}

section>div {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 70px;
    margin: 15px auto;
    padding: 16px 0px 16px 12px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    line-height: 133%;
}

.contient_logo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 12px 12px 0;
    background-color: #99E2D0;
}

section>div:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: 0.6s;
}

section>div:hover .contient_logo {
    right: 0px;
    transition: 0.6s;
}

section>div:not(hover) .contient_logo {
    right: -70px;
    transition: 0.6s;
}

section>div:hover .contient_logo>img {
    transform: rotate(360deg);
    right: 0px;
    transition: 0.6s;
}

section p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* points de suspension */
    padding-right: 50px;
}

section>div:hover p {
    padding-right: 120px;
    transition: 0.6s;
}

section>div:not(hover) p {
    right: 50px;
    transition: 0.6s;
}

section strong {
    position: absolute;
    right: 20px;
}

section>div:hover strong {
    right: 90px;
    transition: 0.6s;
}

section>div:not(hover) strong {
    right: 20px;
    transition: 0.6s;
}

h4{
    width: 50%;
    height: 50px;
    margin: 39px auto 83px auto;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
}

h4:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

