

/* intégration des polices du site */

@font-face {
    font-family: Shrikhand-Regular;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Thin.ttf);
}


/* intégration de la propriété BOX-SIZING */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0 auto;
}

a {
    font-family: Roboto-Regular;
    text-decoration: none;
    color :black;
}

h1, h6 {
    font-family: Roboto-Regular;
    font-weight: 900;
    font-size: 150%;
    text-align: center;
}

h2 {
    font-family: Roboto-Thin;
    font-size: 107%;
    text-align: center;
}

h3, h4, h5, h7, strong {
    font-family: Roboto-Regular;
    font-size: 100%;
}

p {

    font-family: Roboto-Light;
    font-size: 100%;
}

/* entête de la page */

header {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cache {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#cherche_ville {
    height: 55px;
    width: 120%;
    margin-left: -10%;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0px 3px 6px rgb(220, 220, 220);
}

#cherche_ville h3 {


    font-weight: 400;
}

/* reservation */

#reservez {
    height: 287px;
    padding: 21px 0px 0px 0px;
    background-color: rgb(246, 246, 246);
}

#reservez h2 {

    font-weight: bolder;

}


/* selection fonctionnement */


#fonct {

    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap : 25px;
    padding: 54px 0px;
}

#fonct h6 {

    width: 89%;
    text-align: left;
}

.fonct_select {
    width: 89%;
    height: 72px;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 27px;
    border-radius: 16px;
    background-color: rgb(246, 246, 246);
    box-shadow: 3px 3px 6px rgb(220, 220, 220);
}

.fonct_select h5 {
    display: block;
    position: absolute;
    left: 7px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    color: white;
    background-color: #9356DC;
    text-align: center;
    line-height: 26px;
}
.fonct_select img {
    margin-left: 33px;
}

.fonct_select h7 {
    font-weight: 400;
}

.fonct_select:hover {
    background-color: rgb(245, 237, 255);
}




/* seelection restaurants */

#resto {
    background-color: rgb(246, 246, 246);
    padding: 60px 0px;
}

#resto, figure {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap : 20px;
}

#resto h6 {

    width: 89%;
    text-align: left;
    margin: auto;
}

#resto figure {
    width: 89%;
    justify-content: center;
    align-items: center;
    row-gap : 0px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 0px 6px grey;
}

#resto figure>img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
#resto figcaption {
    width: 100%;
    height: 78px;
    background-color: white;
    display: flex;
    line-height: 145%;
    border-radius: 0px 0px 12px 12px;
}

.intitule {
    width: 86.5%;
}

#resto h5 {

    padding-top: 20px;
    padding-left: 15px;
}
#resto p {
    padding-left: 15px;
}

.logo_coeur {
    position: relative;
    left: 0px;
    top: 23px;
}

.coucou {
    position: absolute;
    width: 22px;
    height: 21px;
    z-index: 4;
}

.fond_gris {
    top: 0px;
    z-index: 2;
    width: 22px;
    height: 21px;
    position: absolute;
    background-color: white;
}

.logo_coeur:hover .fond_gris {
    top: -21px;
    transition: 1s;
}

.fond_coeur {
    z-index: 0;
    width: 22px;
    height: 21px;
    position: absolute;
    background-color: #FF79DA;
    clip-path: path('M11,20.865C-10.083,6.68,4.508-4.391,10.758,1.466C10.84,1.542,10.921,1.622,11,1.704c0.079-0.083,0.159-0.162,0.242-0.237C17.491-4.394,32.083,6.679,11,20.865z');
}

/* menu ENTREE / PLAT / DESSERT */

h4{
    width: 58.7%;
    height: 50px;
    margin: 39px auto 83px auto;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
}

h4:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

/* bas de page */

footer {
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 25px 5% 40px 5%;
    text-decoration: none;
    line-height: 200%;
}

footer div img{
    position: relative;
    margin-right: 6px;
}

footer li {
    list-style: none;
}

footer>img {
    height: 18px;
}

footer a {
    color: white;
}
