/* bas de page commun */
footer {
  width: 100%;
  background-color: #353535;
  padding: 25px 5% 40px 5%;
  text-decoration: none;
  line-height: 200%; }
  footer div img {
    position: relative;
    margin-right: 6px; }
  footer li {
    list-style: none; }
  footer > img {
    height: 18px; }
  footer a {
    color: white; }
