/* header menu */
.head_menu {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  column-gap: 66px;
  padding-left: 23px; }

/* header accueil */
.head_accueil {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
