@charset "UTF-8";
body {
  margin: 0 auto;
  background-color: #f6f6f6; }

h1 {
  font-family: Shrikhand-Regular;
  font-size: 175%; }

h2 {
  text-transform: uppercase;
  font-size: 100%; }

p {
  font-size: 84%; }

/* entête de la page */
header {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  column-gap: 66px;
  padding-left: 23px; }

#tete {
  position: relative;
  padding-bottom: 24px; }
  #tete h1 {
    font-weight: 500;
    text-align: left; }
  #tete > div {
    width: 100%;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f6f6;
    box-shadow: none;
    position: absolute;
    top: 223px;
    padding: 23px 7% 0% 7%;
    margin: 0%; }

/* menu ENTREE / PLAT / DESSERT */
#menu {
  position: relative; }
  #menu h2 {
    width: 11%;
    padding-top: 24px;
    margin-left: 7%;
    border-bottom: 3px solid green; }
