
/* bas de page commun */

footer {
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 25px 5% 40px 5%;
    text-decoration: none;
    line-height: 200%;
    & div img{
        position: relative;
        margin-right: 6px;
    }
    & li {
        list-style: none;
    }
    &>img {
        height: 18px;
    }
    & a {
        color: white;
    }
}
