
/* intégration des polices du site */

@font-face {
    font-family: Shrikhand-Regular;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    font-weight: normal;
    font-style: normal;
    src: url(../polices/Roboto-Thin.ttf);
}

a {
    font-family: Roboto-Regular;
    text-decoration: none;
    color :black;
}


/* déf. zone accueil */

#cherche_ville h3 {
    font-family: Roboto-Regular;
    font-weight: 400;
}

#reservez {
    & h1 {
        font-family: Roboto-Regular;
        font-size: 150%;
        text-align: center;
    }
    & h2 {
        font-family: Roboto-Thin;
        font-weight: normal;
        font-size: 120%;
        text-align: center;
    }
}

#fonct, #resto {
    & h6 {
        font-family: Roboto-Regular;
        font-weight: 900;
        font-size: 150%;
        text-align: center;
    }
    & h3, h5, p {
        font-family: Roboto-Regular;
        font-size: 100%;
    }
}

#resto {
    & p {
        font-family: Roboto-Light;
    }
}

.pav h4 {
    font-size: 80%;
}

/* déf. zone menu */

#tete {
    & h1 {
        font-family: Shrikhand-Regular;
        font-size: 175%;
    }
}

#menu {
    & h2 {
        font-family: Roboto-Thin;
        text-transform: uppercase;
        font-size: 100%;
    }
    & h3, h4, strong {
        font-family: Roboto-Regular;
        font-size: 100%;
    }
    & p {
        font-family: Roboto-Light;
        font-size: 84%;
    }
}

button {
    font-family: Roboto-Regular;
    font-weight: 500;
}