
/* entête de la page */

header {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cache {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#cherche_ville {
    height: 55px;
    width: 120%;
    margin-left: -10%;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0px 3px 6px rgb(220, 220, 220);
}

#cherche_ville h3 {
    font-weight: 400;
}

/* reservation */

#reservez {
	height: 287px;
	padding: 21px 0px 0px 0px;
	background-color: rgb(246, 246, 246);
	& h1 {
		font-family: Roboto-Regular;
		font-weight: 900;
		font-size: 150%;
		text-align: center;
	}
	& h2 {
		font-family: Roboto-Thin;
		font-size: 107%;
		text-align: center;
	}
}

/* selection fonctionnement */

#fonct {
	position: relative;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap : 25px;
	padding: 54px 0px;
	& h6 {
		width: 89%;
		text-align: left;
	}

}

.fonct_select {
	width: 89%;
	height: 72px;
	display: flex;
	justify-content: left;
	align-items: center;
	column-gap: 27px;
	border-radius: 16px;
	background-color: rgb(246, 246, 246);
	box-shadow: 3px 3px 6px rgb(220, 220, 220);
	& h5 {
		display: block;
		position: absolute;
		left: 7px;
		width: 26px;
		height: 26px;
		border-radius: 13px;
		color: white;
		background-color: #9356DC;
		text-align: center;
		line-height: 26px;
	}
	& img {
		margin-left: 33px;
	}
	& h7 {
		font-weight: 400;
	}
	&--select {
		background-color: rgb(245, 237, 255);
	}
}

/* sélection restaurants */

#resto {
	@include dispo;
	background-color: rgb(246, 246, 246);
	padding: 60px 0px;
	& h6 {
		width: 89%;
		text-align: left;
		margin: auto;
	}
}

.pav figure {
	@include dispo;
	width: 89%;
	justify-content: center;
	align-items: center;
	row-gap : 0px;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: 0px 0px 6px grey;
	&>img {
		width: 100%;
		border-radius: 12px 12px 0px 0px;
	}
	& figcaption {
		width: 100%;
		height: 78px;
		background-color: white;
		display: flex;
		line-height: 145%;
		border-radius: 0px 0px 12px 12px;
	}
	& h5 {
		padding-top: 20px;
		padding-left: 15px;
	}
	& p {
		padding-left: 15px;
	}
}

.intitule {
    width: 86.5%;
}
