
/* photo & titre + logo coeur */

#tete {
    position: relative;
    padding-bottom: 24px;
    & h1 {
        font-weight: 500;
        text-align: left;
    }
    &>div {
        width: 100%;
        border-radius: 35px 35px 0px 0px;
        background-color: rgb(246, 246, 246);
        box-shadow: none;
        position: absolute;
        top: 223px;
        padding: 23px 7% 0% 7%;
        margin: 0%;
    }
}

/* menu ENTREE / PLAT / DESSERT */

#menu {
    @include tab_desk {
        display: flex;
        flex-wrap: wrap;
    }
    position: relative;
    & h2 {
        width: 44px;
        padding-top: 24px;
        margin-left: 7%;
        border-bottom: 3px solid green;
    }
    & .sous_menu {
        @include tab_desk {
            width: 50%;
        }
    }
}