
/* couleur de base du site */

$coul-primaire: #9356DC;
$coul-secondaire: #FF79DA;
$coul-tertiaire: #99E2D0;

/* couleur de fond des pages */

$fond-acceuil : white;
$fond-menu : rgb(246, 246, 246);

/* valeur pour le breakpoint tablette/destop */

$tab-desktop : 768px;
$desktop : 1200px;